---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1072658/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<FILTERED>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '44'
      X-Tracker-Pagination-Total:
      - '14'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '14'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70631242,
            "created_at": "2014-05-03T21:14:56Z",
            "updated_at": "2014-05-03T21:13:48Z",
            "story_type": "bug",
            "name": "User registration and authentication",
            "description": "Users should have unique and valid emails.",
            "current_state": "delivered",
            "requested_by_id": 1256940,
            "project_id": 1072658,
            "url": "https://www.pivotaltracker.com/story/show/70631242",
            "owner_ids": [
              1256940
            ],
            "labels": [

            ],
            "owned_by_id": 1256940
          },
          {
            "kind": "story",
            "id": 70631358,
            "created_at": "2014-05-03T21:35:26Z",
            "updated_at": "2014-05-05T00:00:29Z",
            "story_type": "bug",
            "name": "Blowup on multiple word translations",
            "current_state": "delivered",
            "requested_by_id": 1256940,
            "project_id": 1072658,
            "url": "https://www.pivotaltracker.com/story/show/70631358",
            "owner_ids": [
              1256940
            ],
            "labels": [

            ],
            "owned_by_id": 1256940
          },
          {
            "kind": "story",
            "id": 70647846,
            "created_at": "2014-05-04T23:52:50Z",
            "updated_at": "2014-05-05T15:10:02Z",
            "story_type": "bug",
            "name": "Login issues",
            "current_state": "delivered",
            "requested_by_id": 1256940,
            "project_id": 1072658,
            "url": "https://www.pivotaltracker.com/story/show/70647846",
            "owner_ids": [
              1256940
            ],
            "labels": [

            ],
            "owned_by_id": 1256940
          },
          {
            "kind": "story",
            "id": 70678772,
            "created_at": "2014-05-05T14:47:55Z",
            "updated_at": "2014-05-05T14:47:55Z",
            "estimate": 0,
            "story_type": "feature",
            "name": "Add elevator pitch to registration page",
            "current_state": "unstarted",
            "requested_by_id": 1256940,
            "project_id": 1072658,
            "url": "https://www.pivotaltracker.com/story/show/70678772",
            "owner_ids": [

            ],
            "labels": [

            ]
          },
          {
            "kind": "story",
            "id": 70648098,
            "created_at": "2014-05-05T00:1[...]
